# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/vcs.xml
.idea/workspace.xml
*.xml
.idea/libraries/Maven__net_minidev_json_smart_2_2_1.xml
.idea/dataSources/82c9ba38-a1a3-4b97-8688-45b6bfb61f02/_metadata_/metadata

\.idea/dataSources/82c9ba38-a1a3-4b97-8688-45b6bfb61f02/_metadata_/

\.idea/libraries/

\.idea/

poc-storm\.iml

*.class

target/classes/

*.iml

target/maven-archiver/

target/maven-status/maven-compiler-plugin/compile/default-compile/

target/
